<div class="row justify-content-center">
<h1 class="col-md-auto mt-5">Driving School System</h1>
</div>
<div class="row justify-content-center">
<h5 class="col-md-auto my-4">指導員用ログインページ</h5>
</div>

<%= form_with model: @instructor, url: instructor_session_path do |f| %>

<div class="row justify-content-center my-4">
   <div class="col-lg-2">指導員名</div>
   <div class="col-md-auto">
    <%= f.select :name, options_from_collection_for_select(Instructor.all.where(is_deleted: false), :name, :name) %>
    <%#= f.text_field :name %>
   </div>
</div>

<div class="row justify-content-center my-4">
   <div class="col-lg-2">パスワード</div>
   <div class="col-md-auto">
    <%= f.password_field :password, autocomplete: "current-password" %>
   </div>
</div>

<div class="row justify-content-center my-4">
  <div class="col-md-auto">
    <%= f.submit "Log in", class: 'btn btn-primary px-5' %>
  </div>
<% end %>

</div>

