<h1>Admin::Students#show</h1>
<p>Find me in app/views/admin/students/show.html.erb</p>

  <div class="row">
    <div class="col-auto mt-5" style="background-color: darkgray;">
     <h5>生徒詳細</h5>
    </div>
  </div>

  <p><%= @student.name %></p>
  <p><%= @student.kana %></p>
  <p><%= @student.address %></p>
  <p><%= @student.phone %></p>