<div class="row mt-4">
  <%= render 'admin/search' %>


  <div class="col">
<%= month_calendar events: @courses do |date, courses| %>
  <%= date.day %>
  <% courses.each do |course| %>
   <div>
     <%= course.id %>
   </div>
  <% end %>


<% end %>
  </div>
</div>