<div class="row mt-4">
  <%= render 'admin/search' %>
  

  <div class="col">
<%= month_calendar events: @courses do |date, courses| %>
  <%= date.day %>
  <br>
  <% if courses.count > 0 %>
   <%= link_to courses.count, admin_courses_day_index_path(start_time: date) %>件
  <% end %>



<% end %>
  </div>
</div>